<!DOCTYPE html>
<html>
<head>
	<title>Register page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<style>
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;

			font-family: Comic Sans MS;
			background-color: #FAAD41;
		}
		input {
			margin-right: 10px;
			border-radius: 20px;
		}
	</style>
</head>
<body>
	<form method='POST'>
		{% csrf_token %}	{{ form.as_p }}
		<input type='submit' value='Send url'/>
	</form>
</body>
</html>
